.card-and-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0%;
}

.movie-card {
  border: 3px solid black;
  height: 400px;
  width: 280px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: 3px 3px 5px 5px #ffc5aa, -2px -2px 5px 5px white;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.movie-card-image {
  height: 100%;
  width: 100%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.movie-card-info:hover ~ .movie-card-image {
  height: 100%;
  width: 120%;
  margin-left: -4.5%;
  transition: 0.6s;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  opacity: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  box-shadow: inset 3px 3px 15px 5px #000000,
              inset -2px -2px 15px 5px #000000;
  text-shadow: 2px 2px 4px black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  overflow: auto;
  >h1 {
    font-size: 1.8em;
    padding: 3%;
  }
  >div {
    >h3 {
      font-size: 2em;
      padding: 3%;
    }
  }
}

.movie-card-info:hover {
  background-color: rgba(0,0,0,0.4);
  opacity: 100%;
  transition: 0.9s ease-in-out;
  -webkit-transition: 0.9s ease-in-out;
}

.rating-dropdown {
}

.rating-label {
  display: inline;
}
