header {
  background: #F7E3DA;
  border-bottom: 5px solid #ff5e6c;
  box-shadow: inset 0px -6px 20px 17px #ffc5aa;
  color: #ff5e6c;
  display: grid;
  grid-template-columns: 80% 13% 7%;
  grid-template-areas:
    "logo icon btn";
  height: 110px;
  margin: 0;
  padding: 0% 5% 0% 5%;
}

.rt-logo {
  grid-area: logo;
  margin: 0% 1%;
  width: 21%;
  align-self: center;
}

.user-icon-name {
  grid-area: icon;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  margin: 10% 0% 7%;
}

.user-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

p {
  cursor: pointer;
  font-size: 20px;
  margin: 0%;
  font-weight: 800;
}

.login-logout-link {
  grid-area: btn;
  background: #ff5e6c;
  box-shadow: inset 0px 0px 0px 5px #F7E3DA;
  border: 2px solid #ff5e6c;
  border-radius: 4px;
  color: #F7E3DA;
  font-size: 1.2vw;
  font-weight: 600;
  text-shadow: 0px 0px 3px red;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18% -30%;
}

.login-logout-link:hover {
  color: #ffc5aa;
  box-shadow: inset 0px 0px 0px 5px #ffc5aa;
  transition: 0.2s;
}
