header {
  background: #F7E3DA;
  border-bottom: 5px solid #ff5e6c;
  color: #ff5e6c;
  display: grid;
  grid-template-columns: 80% 13% 7%;
  grid-template-areas:
    "logo icon btn";
  height: 100px;
  padding: 1px 1px;
}

.rt-logo {
  grid-area: logo;
  margin: 0.5%;
  width: 15%;
  align-self: center;
}

.user-icon-name {
  grid-area: icon;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  margin: 10% 0% 7%;
}

.user-icon {
  height: 40px;
  width: 40px;
}

p {
  font-size: 20px;
  margin: 0%;
}

.login-logout-link {
  grid-area: btn;
  background: #ff5e6c;
  border: 1px solid red;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18% -30%;
}
