.login-form {
  background-color: gray;
  border: 5px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 25%;
  padding: 3em;
  width: 40%;
  > input {
    height: 2em;
    margin-bottom: 0.2em;
    padding: 0.25em;
  }
  > button {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 8px;
    height: 3em;
  }
  > label {
    background-color: black;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 0.3em;
    width: 4.5em;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  width: 100%;
}

.form-error {
  display: flex;
  flex-direction: column;
}

.error {
  text-align: center;
  margin: 5px;
}

button {
  cursor: pointer;
}
